#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.card {
    padding: 2em;
}

.verse {
    display: flex;
    margin: 5px;
}

.word {
    margin: 5px;
    padding: 5px;
}
